.playboxContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow: hidden;
  width: 100%;
  min-width: 100px;
  height: 40rem;
  min-height: 100px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  resize: both;
  position: relative;
}

.playbox {
  height: 100%;
  width: 100%;
  min-height: 150px;
  background-color: var(--color-primary);
  overflow: hidden;
  transition: width 0ms, height 0ms;
  position: relative;
}

.resetBtn {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.resetBtn:hover {
  color: black;
}

.resetBtn:focus {
  outline: 1px solid rgba(31, 31, 31, 0.5);
}

.heightForce {
  height: 50rem;
}