.bodyContainer {
    transition: margin-left 500ms ease;
    margin-left: 15rem;
    margin-right: 5rem;
    padding: 1rem;
    padding-top: 0;
    position: relative;
}

.showTipsSwitch {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    width: 60px;
    height: 34px;
    z-index: 7900;
}

.showTipsSwitch input:checked + .slider {
    background-color: purple;
}

.showTipsSwitch input:checked + .slider::before {
    transform: translateX(26px);
}

.showTipsText {
  position: absolute;
  top: 2rem;
  right: 5.5rem;
}

.showTipsSwitch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ccc;
    transition: background-color 150ms ease-in, box-shadow 150ms ease-in;
    border-radius: 34px;
}

.slider::before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 50%;
    background-color: rgb(243, 243, 243);
    transition: transform 150ms ease-in;
}

@media (max-width: 1143px) {
  .bodyContainer {
    transition: margin-left 500ms ease;
    margin-left: 5%;
    margin-right: 5%;
  }
}