.rowsContainer {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
}

.propertyControlsContainer {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.propertyTitle,
.propertyControl {
    margin-bottom: 0.8rem;
}

.propertyTitle {
    margin-top: 0;
    white-space: nowrap;
    font-weight: 400;
    font-size: 18px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    padding-top: 5px;
}

.propertyControl {
    background-color: var(--color-primary);
    color: white;
    margin-left: 0.5rem;
    padding: 0.5rem 1.25rem;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
}

.animatePropertyControl {
  opacity: 0;
  animation: pop-in 200ms ease forwards;
}

@keyframes pop-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1.05);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.propertyControl:hover,
.propertyControl:focus {
    opacity: 0.85;
    outline: none;
}

.nonSelectedBtnColor {
    background-color: var(--color-primary);
}

.selectedBtnColor {
    background-color: black;
}
