.flexBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.block {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 2.8rem;
  width: 4rem;
  margin: 0.5rem;
  border-radius: 5px;
}

.controlTitle {
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}