.flexBoxContainer {
    position: absolute;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.firstSubheading {
  margin-top: 0;
}

.block {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 2.8rem;
    margin: 0.5rem;
    border-radius: 5px;
    padding-bottom: 2px;
}

h3 {
  padding-left: 0.5rem;
}

.blockControlsContainer {
  display: flex;
  width: 100%;
}

.playboxControlsContainer {
  flex: 7;
}

.top {
  display: flex;
}