.toolTipContainer {
  position: absolute;
  left: -30px;
  transform: translateY(-110%);
  background-color: rgb(22, 22, 22);
  width: 200px;
  height: 150px;
  border: 1px solid white;
  color: white;
  border-radius: 8px;
  padding: 1rem;
  box-sizing: border-box;
}

.triangle {
  transform: rotate(45deg) translateX(-20%) translateY(-130%);
  background-color: rgb(22, 22, 22);
  width: 50px;
  height: 50px;
  position: absolute;
}