.heartGrowContainer {
    box-sizing: border-box;
    background-color: black;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    padding: 4rem;
    position: relative;
    z-index: 100;
}

.shadeOnePillar {
    background-color: rgb(255, 0, 0);
    animation: pillar-grow-1 3200ms infinite both 100ms;
    left: 25%;
}

.shadeTwoPillar {
    background-color: rgb(255, 30, 30);
    animation: pillar-grow-2 3200ms infinite both 200ms;
    left: 30%;
}

.shadeThreePillar {
    background-color: rgb(255, 60, 60);
    animation: pillar-grow-3 3200ms infinite both 300ms;
    left: 35%;
}

.shadeFourPillar {
    background-color: rgb(255, 90, 90);
    animation: pillar-grow-4 3200ms infinite both 400ms;
    left: 40%;
}
.shadeFivePillar {
    background-color: rgb(255, 120, 120);
    animation: pillar-grow-5 3200ms infinite both 500ms;
    left: 45%;
}

.shadeSixPillar {
    background-color: rgb(255, 150, 150);
    animation: pillar-grow-4 3200ms infinite both 600ms;
    left: 50%;
}

.shadeSevenPillar {
    background-color: rgb(255, 180, 180);
    animation: pillar-grow-3 3200ms infinite both 700ms;
    left: 55%;
}

.shadeEightPillar {
    background-color: rgb(255, 210, 210);
    animation: pillar-grow-2 3200ms infinite both 800ms;
    left: 60%;
}

.shadeNinePillar {
    background-color: rgb(255, 240, 240);
    animation: pillar-grow-1 3200ms infinite both 900ms;
    left: 65%;
}

.shadeOnePillar,
.shadeTwoPillar,
.shadeThreePillar,
.shadeFourPillar,
.shadeFivePillar,
.shadeSixPillar,
.shadeSevenPillar,
.shadeEightPillar,
.shadeNinePillar {
    height: 10px;
    width: 7px;
    border-radius: 100vh;
    margin: 0 2px;
    position: absolute;
}

@keyframes pillar-grow-1 {
    0% {
        height: 10px;
        top: 70px;
    }

    50% {
        height: 32px;
        top: 60px;
    }

    100% {
        height: 10px;
        top: 70px;
    }
}
@keyframes pillar-grow-2 {
    0% {
        height: 10px;
        top: 70px;
    }

    50% {
        height: 50px;
        top: 55px;
    }

    100% {
        height: 10px;
        top: 70px;
    }
}
@keyframes pillar-grow-3 {
    0% {
        height: 10px;
        top: 70px;
    }

    50% {
        height: 65px;
        top: 55px;
    }

    100% {
        height: 10px;
        top: 70px;
    }
}
@keyframes pillar-grow-4 {
    0% {
        height: 10px;
        top: 70px;
    }

    50% {
        height: 70px;
        top: 60px;
    }

    100% {
        height: 10px;
        top: 70px;
    }
}
@keyframes pillar-grow-5 {
    0% {
        height: 10px;
        top: 70px;
    }

    50% {
        height: 80px;
        top: 65px;
    }

    100% {
        height: 10px;
        top: 70px;
    }
}
