.heartGrowContainer {
  box-sizing: border-box;
  background-color: black;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  padding: 4rem;
  position: relative;
  z-index: 100;
}

.colorPillarRed {
  background-color: rgb(255, 0, 0);
  animation: pillar-grow-1 2800ms infinite both 100ms;
  left: 25%;
}

.colorPillarOrangeRed {
  background-color: rgb(255, 30, 30);
  animation: pillar-grow-2 2800ms infinite both 200ms;
  left: 30%;
}

.colorPillarOrange {
  background-color: rgb(255, 60, 60);
  animation: pillar-grow-3 2800ms infinite both 300ms;
  left: 35%;
}

.colorPillarMacaroni {
  background-color: rgb(255, 90, 90);
  animation: pillar-grow-4 2800ms infinite both 400ms;
  left: 40%;
}
.colorPillarYellow {
  background-color: rgb(255, 120, 120);
  animation: pillar-grow-5 2800ms infinite both 500ms; 
  left: 45%;
}

.colorPillarGreen {
  background-color: rgb(255, 150, 150);
  animation: pillar-grow-4 2800ms infinite both 400ms;
  left: 50%;
}

.colorPillarBlue {
  background-color: rgb(255, 180, 180);
  animation: pillar-grow-3 2800ms infinite both 300ms;
  left: 55%;
}

.colorPillarIndigo {
  background-color: rgb(255, 210, 210);
  animation: pillar-grow-2 2800ms infinite both 200ms;
  left: 60%;
}

.colorPillarViolet {
  background-color: rgb(255, 240, 240);
  animation: pillar-grow-1 2800ms infinite both 100ms;
  left: 65%;
}

.colorPillarRed,
.colorPillarOrangeRed,
.colorPillarOrange, 
.colorPillarMacaroni,
.colorPillarYellow, 
.colorPillarGreen, 
.colorPillarBlue, 
.colorPillarIndigo, 
.colorPillarViolet {
  height: 10px;
  width: 7px;
  border-radius: 100vh;
  margin: 0 2px;
  position: absolute;
}

@keyframes pillar-grow-1 {
  0% {
    height: 10px;
    top: 70px;
  }
  
  50% {
    height: 32px;
    top: 60px;
  }
  
  100% {
    height: 10px;
    top: 70px;
  }
}
@keyframes pillar-grow-2 {
  0% {
    height: 10px;
    top: 70px;
  }
  
  50% {
    height: 50px;
    top: 55px;
  }
  
  100% {
    height: 10px;
    top: 70px;
  }
}
@keyframes pillar-grow-3 {
  0% {
    height: 10px;
    top: 70px;
  }
  
  50% {
    height: 65px;
    top: 55px;
  }
  
  100% {
    height: 10px;
    top: 70px;
  }
}
@keyframes pillar-grow-4 {
  0% {
    height: 10px;
    top: 70px;
  }
  
  50% {
    height: 70px;
    top: 60px;
  }
  
  100% {
    height: 10px;
    top: 70px;
  }
}
@keyframes pillar-grow-5 {
  0% {
    height: 10px;
    top: 70px;
  }
  
  50% {
    height: 80px;
    top: 65px;
  }
  
  100% {
    height: 10px;
    top: 70px;
  }
}